<head>
  <meta
    name="description"
    content="Shows data from the New York Times Bestsellers API"
  />
  <!-- <link rel="preload" href="https://api.nytimes.com" as "fetch">
  <link rel="preload" href="https://s1.nyt.com" as "fetch"> -->
</head>

<body>
  <div class="main">
    <div class="title-card text-white backgroundSecondaryBlue mb-2">
      <div class="card-header bg-light">
        <img
          class="header-image float-left"
          src="../../../../assets/params/images/logo/book.png"
          alt="Nasa logo"
        />
        <h6 class="card-title text-dark">New York Times</h6>
        <h5 class="card-subtitle font-italic">Bestsellers</h5>
      </div>
    </div>

    <!--cards for bestseller API results-->
    <div class="row">
      <div
        class="bestseller-card align-center col-lg-2 col-md-4 col-sm-4 col-xs-6 pb-3"
        *ngFor="let bestseller of bestsellerLists; index as i"
      >
        <app-bestseller-item
          [bestseller]="bestseller"
          (click)="onGoToBestsellerDetail(bestseller)"
        ></app-bestseller-item>
      </div>
    </div>
  </div>
</body>
