.container-fluid {
  padding: 0 auto;
}

.main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}

.title-card {
  max-width: 500px;
  margin: auto auto;
}

.bestseller-card {
  padding: 12px auto;
}

.fab, .fa, .fas, .far {
  font-size: 24px;
  padding-right: 8px;
}