.container-fluid {
  padding: 0 auto;
}

.main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}

.title-card {
  max-width: 400px;
  margin: auto auto;
}

.bestseller-card {
  padding: 12px auto;
}
