<head>
  <meta  name="description" content="Shows repo data from the Github API" />
</head>

<div class="card bg-light">
  <div class="d-flex justify-content-around">
    <div class="p-2">
      <a (click)="returnToUser()" class="btn btn-outline-dark"
        >Back to List</a
      >
    </div>
  </div>
</div>
<!--cards for book search results-->
<div class="github-card pb-2" *ngFor="let repo of repos | async; trackBy: repoTrackbyFn">
  <div class="card rounded" *ngIf="repo">
    <div class="card-header text-white backgroundSecondaryBlue">
      <h6 class="card-title mb-0">
        Name: {{ repo.name }}
      </h6>
    </div>
    <div class="card-body pb-0">
      <p class="mb-2">
        <span class="font-weight-bold pr-2">Description:</span
        >{{ repo.description }}
      </p>
      <p class="mb-2">
        <span class="font-weight-bold pr-2 mb-2">Updated:</span
        >{{ repo.updated_at | dateConvert }}
      </p>
      <p class="mb-2" *ngIf="repo.language">
        <span class="font-weight-bold pr-2 mb-2">Language:</span
        >{{ repo.language }}
      </p>
      <p class="mb-2" *ngIf="!repo.language">
        <span class="font-weight-bold pr-2">Languages:</span>None
      </p>
    </div>
  </div>
</div>
