<head>
  <meta name="description" content="Shows data from the Google Books api" />
</head>

<body>
  <div class="main-div">
    <!--card for user book search-->
    <div class="card rounded">
      <div class="card-header bg-light">
        <img
          class="header-image float-left"
          src="../../../../assets/params/images/logo/books.jpg"
          alt="Book logo"
        />
        <h5 class="card-title text-dark">Google Book API</h5>
        <h6 class="card-subtitle font-italic">
          Search by title
        </h6>
      </div>
      <div class="card-body">
        <!--User input of book title-->
        <form
          #searchForm="ngForm"
          (ngSubmit)="bookQuery(searchWord.value); searchForm.reset()"
        >
          <input
            #searchWord="ngModel"
            type="text"
            ngModel
            name="searchQuery"
            id="searchQuery"
            placeholder="Enter book title.."
            aria-label="Enter book title"
            name="search"
            required
          />
          <button
            class="btn btn-dark"
            [disabled]="searchForm.invalid"
            type="submit"
          >
            Search
          </button>
          <button
            *ngIf="storedItems"
            class="btn btn-warning"
            type="button"
            (click)="clearStore()"
          >
            Clear
          </button>
        </form>
      </div>
    </div>
    <!--cards for book search results-->
    <div class="row">
      <div
        class="book-card col-lg-2 col-md-3 col-sm-3 col-xs-6 p-2 text-center"
        *ngFor="let book of storedBooks"
      >
        <img
          style="width: 140px; height: 224px;"
          *ngIf="book.volumeInfo.imageLinks.thumbnail"
          [src]="book.volumeInfo.imageLinks.thumbnail"
          (click)="onGoToBookDetail(book)"
          alt="Book image"
        />
      </div>
    </div>
  </div>
</body>
