<head>
  <meta
  name="api"
  content="Shows data from an api">
</head>

<div class="main-div">
  <div class="card rounded">
    <div class="card-header bg-light">
      <img
        class="header-image float-left"
        src="../../../../assets/params/images/logo/books.jpg"
        alt="Nasa logo"
      />
      <h5 class="card-title text-dark">Search for a Book</h5>
      <h6 class="card-subtitle font-italic">
        Search by title
      </h6>
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text text-info"><i class="fas fa-pen"></i></span>
        </div>
        <input type="text" class="form-control" aria-label="Enter book title">
      </div>
    </div>
  </div>
</div>