<head>
  <meta  name="description"  content="Shows data from the Google Books api" />
</head>

<body>
  <div class="main-div">
    <!--card for user book search-->
    <div class="card rounded">
      <div class="card-header bg-light">
        <img
          class="header-image float-left"
          src="../../../../assets/params/images/logo/books.jpg"
          alt="Book logo"
        />
        <h5 class="card-title text-dark">Google Book API</h5>
        <h6 class="card-subtitle font-italic">
          Search by title
        </h6>
      </div>
      <div class="card-body">
        <!--User input of book title-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text text-light bg-dark"
              ><i class="fas fa-pen"></i
            ></span>
          </div>
          <input
            ngInput
            type="text"
            class="form-control"
            placeholder="Enter book title"
            aria-label="Enter book title"
            (keyup)="bookQuery($event.target.value)"
          />
        </div>
      </div>
    </div>
    <!--cards for book search results-->
    <div class="row">
      <div
        class="book-card col-lg-2 col-md-3 col-sm-3 col-xs-6 p-2 text-center"
        *ngFor="let book of books | async"
      >
        <img
          style="width: 140px; height: 224px;"
          *ngIf="book.volumeInfo.imageLinks.thumbnail"
          [src]="book.volumeInfo.imageLinks.thumbnail"
          (click)="onGoToBookDetail(book)"
          alt="Book logo"
        />
      </div>
    </div>
  </div>
</body>
