<head>
  <meta
    name="api"
    content="Shows data from the New York Times Bestsellers API"
  />
</head>

<body>
  <div class="main">
    <div class="title-card text-white bg-info mb-2">
      <div class="card-body">
        <h5 class="card-title mb-0 text-center">
          <i class="fas fa-award"></i>New York Times Bestsellers by
          <i class="fas fa-clipboard-list"></i>Category
        </h5>
      </div>
    </div>

    <!--cards for bestseller API results-->
    <div class="row">
      <div
        class="bestseller-card align-center col-lg-2 col-md-4 col-sm-4 col-xs-6 pb-3"
        *ngFor="let bestseller of bestsellers"
        (click)="onGoToBestsellerDetail(bestseller)"
      >
        <app-bestseller-item
          [bestseller]="bestseller"
        ></app-bestseller-item>
      </div>
    </div>

  </div>
</body>
