<head>
  <meta name="api" content="Shows data from the New York Times Bestsellers API" />
</head>

<body>
  <div class="main-div">
    <div class="card text-white bg-info mb-2">
      <div class="card-body">
        <h5 class="card-title mb-0">
          <i class="fas fa-award pr-1"></i>The current New York Times bestsellers
        </h5>
      </div>
    </div>

    <!--cards for book search results-->
    <!-- <div class="row">
      <div
        class="book-card col-lg-2 col-md-4 col-sm-6"
        *ngFor="let book of mBooks | async"
      >
        <app-book-item
          [book]="book"
          data-toggle="modal"
          data-target="#exampleModal"
        ></app-book-item>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"  >
          <div class="modal-header">

            <h5 class="modal-title" id="exampleModalLabel" *ngIf="clicked" >Book title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="clicked">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</body>
