<head>
  <meta name="description" content="Shows New York Times News API data" />
  <!-- <link rel="preload" href="https://api.nytimes.com" as "fetch">
  <link rel="preload" href="https://static01.nyt.com" as "fetch"> -->
</head>

<div class="main-div">
  <!--news cards-->
  <div class="row">
    <div
      class="mb-4 col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
      *ngFor="let article of mArticles"
    >
      <div class="card full-height">
        <img
          class="card-img-top"
          src="{{
            article.multimedia[0].url
              ? article.multimedia[0]
              : 'assets/svgs/nyt.svg'
          }}"
          alt="news article"
        />
        <div class="p-2 card-body">
          <h6 class="card-title">
            {{ article.title }}
          </h6>
          <p class="mb-0 card-text" *ngIf="article.abstract">
            {{ article.abstract }}
          </p>
        </div>

        <div class="p-2 card-footer backgroundSecondaryBlue">
          <div class="d-flex justify-content-around">
            <p class="footer-text" *ngIf="article.created_date">
              <app-svg-calender></app-svg-calender>
              {{ article.created_date | dateConvert }}
            </p>
            <p class="mb-0 link-text" *ngIf="article.url">
              <a
                href="{{ article.url }}"
                target="_blank"
                rel="noopener noreferrer"
                alt="link for news article"
                aria-label="link for news article"
                class="text-light"
              >
                <app-svg-link></app-svg-link>
                article</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
