.nav-link {
  color: white !important;
}

.nav-link-active {
  color: #f5c8f1 !important;
  font-weight: bold;
}
.social {
  color: #cccff1;
  padding: 8px !important;
}

.fab,
.fa,
.fas {
  font-size: 24px;
  padding: 0 8px;
}
