a {
  position: center;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
}

.card {
  max-width: 800px;
  margin: auto auto;
}

.crypto-footer-link
 {
   color: white;
   font-style: bold;
   font-weight: 600;
 }
