.main {
  padding: 0 !important;
}

div.container-fluid {
  padding: 0 !important;
}

.main-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 700px;
  margin: auto auto;
}

.fab, .fa, .fas, .far {
  font-size: 24px;
  margin-right: 4px;
}