<head>
  <meta name="api" content="Shows google charts data" />
</head>

<!-- <div class="main-div"> -->
<div class="card rounded">
  <div class="card-header bg-light pb-0">
    <h6 class="card-title text-dark">
      <i class="fas fa-chart-bar text-info"></i>Google Line Chart
    </h6>
  </div>
  <div class="card-body p-1">
    <app-line-chart></app-line-chart>
  </div>
</div>

<div class="card rounded">
  <div class="card-header bg-light pb-0">
    <h6 class="card-title text-dark">
      <i class="fas fa-chart-bar text-info"></i>Google Pie Chart
    </h6>
  </div>
  <div class="card-body p-1">
    <app-pie-chart></app-pie-chart>
  </div>
</div>

<div class="card rounded">
  <div class="card-header bg-light pb-0">
    <h6 class="card-title text-dark">
      <i class="fas fa-chart-bar text-info"></i>Google Gauges
    </h6>
  </div>
  <div class="card-body p-1">
    <app-gauge-chart></app-gauge-chart>
  </div>
</div>

<div class="card rounded">
  <div class="card-header bg-light pb-0">
    <h6 class="card-title text-dark">
      <i class="fas fa-chart-bar text-info"></i>Google Table Chart
    </h6>
  </div>
  <div class="card-body p-1">
    <app-table-chart></app-table-chart>
  </div>
</div>

<div class="card rounded">
  <div class="card-header bg-light pb-0">
    <h6 class="card-title text-dark">
      <i class="fas fa-chart-bar text-info"></i>Google Bar Chart
    </h6>
  </div>
  <div class="card-body p-1">
    <app-bar-chart></app-bar-chart>
  </div>
</div>
