.main-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 800px;
  margin: auto auto;
}

.card form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card form input{
  width: 100%;
  /* padding: 1rem; */
}

.book-card {
  padding: 12px auto;
}
