<head>
  <meta name="api" content="Shows data from the Google Books api" />
</head>

<body>
  <div class="main-div">
    <!--card for user book search-->
    <div class="card rounded">
      <div class="card-header bg-light">
        <img
          class="header-image float-left"
          src="../../../../assets/params/images/logo/books.jpg"
          alt="Github logo"
        />
        <h5 class="card-title text-dark">Github API</h5>
        <h6 class="card-subtitle text-info font-weight-bold">
          Search by username
        </h6>
      </div>
      <div class="card-body">
        <form
          #githubSearch="ngForm"
          method="POST"
          (ngSubmit)="submitForm(githubSearch)"
        >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text text-info"
                ><i class="fas fa-pen"></i
              ></span>
            </div>
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="Enter username"
              aria-label="Enter username"
              required
              ngModel
            />
            <div class="input-group-append">
              <button
                class="btn btn-info"
                type="submit"
                [disabled]="!githubSearch.form.valid"
              >
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--cards for book search results-->
    <div class="github-card">
      <app-github-user [user]="user"></app-github-user>
    </div>
  </div>
</body>
