.main-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 800px;
  margin: auto auto;
}

.card-title {
  padding-left: 80px;
}

.card-subtitle {
  padding-left: 80px;
}

.header-image {
  background-size: cover;
  width: 64px;
  height: 64px;
}

.fab, .fa, .fas, .far {
  font-size: 24px;
}