.main-div {
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.card {
  margin: auto auto;
}

.full-height {
  height: 100%;
}

p.card-text {
  font-size: 14px;
  margin-bottom: 0 !important;
}

p.footer-text {
  font-size: 16px;
  margin-bottom: 0 !important;
  color: white;
}

.card-title {
  font-weight: bold;
}

.fas {
  font-size: 16px;
  margin-right: 2px;
}
