<head>
  <meta name="description" content="Shows New York Times News API data" />
  <link rel="preload" href="https://api.nytimes.com">
  <link rel="preload" href="https://static01.nyt.com">
</head>

<div class="main-div">
  <!--news cards-->
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"
      *ngFor="let article of mArticles"
    >
      <div class="card full-height">
        <img
          *ngIf="article.multimedia[3].url"
          class="card-img-top"
          src="{{ article.multimedia[3].url }}"
          alt="image for news article"
        />
        <div class="card-body p-2">
          <h6 class="card-title">
            {{ article.title }}
          </h6>
          <p class="card-text mb-0" *ngIf="article.abstract">
            {{ article.abstract }}
          </p>
        </div>

        <div class="card-footer p-2 bg-dark">
          <div class="d-flex justify-content-around">
            <p class="footer-text" *ngIf="article.created_date">
              <i class="fas fa-calendar-day text-light"></i>
              {{ article.created_date | dateConvert }}
            </p>
            <p class="link-text mb-0" *ngIf="article.url">
              <a
                href="{{ article.url }}"
                target="_blank"
                rel="noopener noreferrer"
                alt="link for news article"
                aria-label="link for news article"
                class="text-light"
                ><i class="fas fa-external-link-alt text-light"></i>article</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
