.main-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 700px;
  margin: auto auto;
}

.card-chart-btn {
  width: 110px; text-align: left
}

.header-image {
  background-size: cover;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
