<head>
  <meta name="description" content="Shows google charts data" />
</head>

<div class="main-div">
  <div class="card rounded">
    <div class="card-header bg-light">
      <img
        class="header-image float-left"
        src="../../../../assets/svgs/chart.svg"
        alt="Book logo"
      />
      <h5 class="card-title text-dark">Google Charts</h5>
      <h6 class="card-subtitle font-italic">Data from POSTgreSQL</h6>
    </div>
  </div>

  <div id="accordion">
    <!--card 1-->
    <div class="card rounded">
      <div class="bg-light pb-0" id="headingOne">
        <h5 class="card-title text-dark pb-0">
          <button
            class="card-chart-btn btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Line Chart
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>

    <!--card 2-->
    <div class="card rounded">
      <div class="bg-light pb-0" id="headingTwo">
        <h5 class="card-title text-dark pb-0">
          <button
            class="card-chart-btn btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Pie Chart
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse hide"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>

    <!--card 3-->
    <div class="card rounded">
      <div class="bg-light pb-0" id="headingThree">
        <h5 class="card-title text-dark pb-0">
          <button
            class="card-chart-btn btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Gauges
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse hide"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          <app-gauge-chart></app-gauge-chart>
        </div>
      </div>
    </div>

    <!--card 4-->
    <div class="card rounded">
      <div class="bg-light pb-0" id="headingFour">
        <h5 class="card-title text-dark pb-0">
          <button
            class="card-chart-btn btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Table Chart
          </button>
        </h5>
      </div>
      <div
        id="collapseFour"
        class="collapse hide"
        aria-labelledby="headingFour"
        data-parent="#accordion"
      >
        <div class="card-body">
          <app-table-chart></app-table-chart>
        </div>
      </div>
    </div>

    <!--card 5-->
    <div class="card rounded">
      <div class="bg-light pb-0" id="headingFive">
        <h5 class="card-title text-dark pb-0">
          <button
            class="card-chart-btn btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Bar Chart
          </button>
        </h5>
      </div>
      <div
        id="collapseFive"
        class="collapse hide"
        aria-labelledby="headingFive"
        data-parent="#accordion"
      >
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
