<head>
  <meta name="description" content="Shows google charts data" />
</head>

<div class="main-div">
  <div class="card rounded">
    <div class="card-header bg-light">
      <div class="row">
        <div class="col-2">
          <img
            class="header-image"
            src="../../../../assets/svgs/chart.svg"
            alt="Chart logo"
          />
        </div>
        <div class="col-10">
          <h5 class="card-title text-dark float-left p-0">Google Charts</h5>
          <h6 class="card-subtitle font-italic float-left p-0">
            Data from POSTgreSQL
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <!--item 1-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Line Chart
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-line-chart [isProd]="isProd"></app-line-chart>
        </div>
      </div>
    </div>

    <!--item 2-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Pie Chart
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-pie-chart [isProd]="isProd"></app-pie-chart>
        </div>
      </div>
    </div>

    <!--item 3-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Gauges
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-gauge-chart [isProd]="isProd"></app-gauge-chart>
        </div>
      </div>
    </div>

    <!--item 4-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Countries
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-table-chart [isProd]="isProd"></app-table-chart>
        </div>
      </div>
    </div>

    <!--item 5-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Bar Chart
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <app-bar-chart [isProd]="isProd"></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
