.main-div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.card {
  max-width: 800px;
  margin: auto auto;
}

.card-img-top {
  width: 100%;
  height: auto;
}