.main-div {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 800px;
  align-items: left;
}

button {
  width: 160px;
  align-items: left !important;
}

.fab, .fas, .far {
  font-size: 24px;
}