<head>
  <meta name="about" content="Shows details of app" />
</head>

<div class="main-div">
  <div id="accordion">
    <!--card model-->
    <!-- <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <i class="fas fa-satellite-dish pr-1 text-info"></i>
            NASA API
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          Astronomy Picture of the Day (APOD) Data is fetched from the
          <a href="https://api.nasa.gov/index.html#getting-started"
            >official NASA API</a
          >. The APOD can also be a video and npm module
          <a href="https://www.npmjs.com/package/safe-pipe">safe-pipe</a> was
          required to prevent the app from crashing. Data is displayed in a
          Bootstrap card with a description, date and credit text (where
          available) below.
        </div>
      </div>
    </div> -->

    <!--card 1-->
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <i class="fas fa-satellite-dish pr-1 text-info"></i>
            NASA API
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body">
          Astronomy Picture of the Day (APOD) Data is fetched from the
          <a href="https://api.nasa.gov/index.html#getting-started"
            >official NASA API</a
          >. The APOD can also be a video and npm module
          <a href="https://www.npmjs.com/package/safe-pipe">safe-pipe</a> was
          required to prevent the app from crashing. Data is displayed in a
          Bootstrap card with a description, date and credit text (where
          available) below.
        </div>
      </div>
    </div>
    <!--card 2-->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <i class="fab fa-btc pr-1 text-info"></i>
            Crypto API
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          Price data for a range of cryptocurrencies is fetched from the
          <a href="https://min-api.cryptocompare.com/">CryptoCompare API</a> and
          is displayed using a Bootstrap responsive table. The table also shows
          svg icons for each currency, retrieved from the assets folder. The
          cryptocurrency prices are displayed in euro but this can be changed to
          other currencies.
        </div>
      </div>
    </div>
    <!--card 3-->
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <i class="fas fa-map-marker pr-1 text-info"></i>
            Maps API
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          User location data is fetched from
          <a href="https://ipapi.co"
            >ipapi, a real-time Geolocation & Reverse IP Lookup REST API</a
          >. If location data is not available then the coordinates of the
          Eiffel Tower are used to center the map. Map data is obtained using
          <a href="https://ipapi.com/">Leaflet</a>, an open-source JavaScript
          library for mobile-friendly interactive maps that requires no API key.
        </div>
      </div>
    </div>
    <!--card 4-->
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            <i class="far fa-newspaper pr-1 text-info"></i>
            News API
          </button>
        </h5>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordion"
      >
        <div class="card-body">
          News is fetched from the
          <a href="https://developer.nytimes.com/docs/top-stories-product/1/overview"
            >New York Times Top Stories HTTP REST API.</a
          >
        </div>
      </div>
    </div>
    <!--card 5-->
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            <i class="fas fa-chart-bar pr-1 text-info"></i>
            Charts API
          </button>
        </h5>
      </div>
      <div
        id="collapseFive"
        class="collapse"
        aria-labelledby="headingFive"
        data-parent="#accordion"
      >
        <div class="card-body">
          Data on books is fetched from the
          <a href="https://developers.google.com/books/docs/overview"
            >Google Charts API</a
          >Chart data is displayed in a grid of Bootstrap cards.
        </div>
      </div>
    </div>
    <!--card 6-->
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            <i class="fas fa-book-open pr-1 text-info"></i>
            Books API
          </button>
        </h5>
      </div>
      <div
        id="collapseSix"
        class="collapse"
        aria-labelledby="headingSix"
        data-parent="#accordion"
      >
        <div class="card-body">
          Data on books is fetched from the
          <a href="https://developers.google.com/books/docs/overview"
            >Google Books API</a
          >Book data is displayed in a grid of Bootstrap cards. Clicking on a
          card will activate ruote the user to a page with more details about
          the book.
        </div>
      </div>
    </div>
    <!--card 7-->
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            <i class="fas fa-book-reader pr-1 text-info"></i>
            Bestsellers API
          </button>
        </h5>
      </div>
      <div
        id="collapseSeven"
        class="collapse"
        aria-labelledby="headingSeven"
        data-parent="#accordion"
      >
        <div class="card-body">
          Data on bestsellers is fetched from the
          <a href="https://developer.nytimes.com/docs/books-product/1/overview"
            >New York Times API</a
          >Bestseller data is displayed in a grid of Bootstrap cards. Clicking
          on a card will route the user to a page with more details about the
          book.
        </div>
      </div>
    </div>
    <!--card 8-->
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button
            class="btn btn-outline-dark"
            data-toggle="collapse"
            data-target="#collapseEight"
            aria-expanded="false"
            aria-controls="collapseEight"
          >
            <i class="fab fa-github pr-1 text-info"></i>
            Github API
          </button>
        </h5>
      </div>
      <div
        id="collapseEight"
        class="collapse"
        aria-labelledby="headingEight"
        data-parent="#accordion"
      >
        <div class="card-body">
          User and repository data is fetched from the
          <a href="https://developer.github.com/v3/"
            >Github REST API v3.</a
          >Github card shows Github repo details from user search. Repo button redirects to repo list page.
        </div>
      </div>
    </div>
  </div>
</div>
